
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title>Poll Voting Details</title>
</head>
<body>

<%- include('../partials/navbar') %>

<div class="container">
    <div class="details content">
        <h3>Submit your vote:</h3>
            <h3 class="title"><%= poll.question  %></h3>
            
            <form action="/submit-vote/<%= poll._id %>" method="post">
                <% if (poll.options.length > 0) { %>
                    <% poll.options.forEach(option => { %>
                        <label class="option">
                            <input type="radio" name="selectedOption" value="<%= option %>">
                            <%= option  %> 
                            <span class="vote-count">(Votes: <%= poll.votes.get(option) || 0 %>)</span>
                        </label>
                    <% }) %>
                <% } %>
                <button type="submit">Submit Vote</button>
            </form>
                    
    </div>
</div>

</body>
</html>
